/*** PAGE ***/
body {
    background:url("images/paper_lines.jpeg");
    min-height : 100%;
    min-width : 100%;
    background-size: 100% 100%;
    background-repeat:repeat-y;
    overflow-y: auto;
    overflow-x: hidden;
}

/*** NAV ***/
.navbar {
    /*position: relative;*/
    height: 7em;
    margin-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
} 
.brand {
    display: block;
    font-family: 'Patrick Hand';
    font-size: 3.5em;
}

/*** ETC ***/

#prob{
   list-style-type: None;
   font-family: 'Patrick Hand';
   font-size: 1.2em;
}

#prob_container, #guess_container{
    padding: 1em 1em;
    width: 20em;
    display: block;
    background-color: transparent;
    padding-bottom: 1.5em;
}

#prob_container { 
    display: block;
    width: 22em;
}

#guess_container{
    height:7em;
    display:flex;
    align-items:center;
}

#guess{
    font-family: 'Patrick Hand';
    font-size: 2em;
    font-weight: bold;
}

#top5{
    color: #555;
}

p{
    font-family: 'Patrick Hand';
    font-size: 1.3em;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #ffab40;

}

.canvas, #canvas {
    border:0px solid #ccc;
}


#title_ai {
    font-weight: bold;
    color: #ffab40;
}

#btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

